<div class="container-fluid">
    <div style="background-color:teal">
        <h1>Midterm Exam</h1>
        <p>Find all prime numbers between two numbers</p>
    </div>
    <div class="row">
        <input type="number" class="col-6" name="firstNumber" id="firstNumber">
        <input type="number" class="col-6" name="secondNumber" id="secondNumber">
        <button type="button" class="btn btn-outline-primary">Submit</button>
    </div>
    <div class="form-group">
        <label for="">Calculation Result</label>
        <textarea class="form-control" name="" id="" rows="3"></textarea>
    </div>
</div>
