<p>even-number works!</p>
<body>
    <div style="background-color:teal">
        <h1>Midterm Exam</h1>
        <p>Find all prime numbers between two numbers</p>
    </div>
    <div align ='center'>
    <table>
        <tr>
            <td>Number 1</td>
            <td>Number 2</td>
        </tr>
        <tr>
            <td><input type="text" id ='numberOne'></td>
            <td><input type="text" id ='numberTwo'></td>
        </tr>
        <tr>
            <td><button id ='submit'>Submit</button></td>
        </tr>
    </table>
    </div>
    <div id ='logic'></div>
    <div id = 'logic2'></div>
</body>